@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

* {
    box-sizing: border-box;
} 

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}